<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG suites"  >
    <listeners>
        <listener class-name="Listener"/>
    </listeners>
    <!-- suite name="Suite Name" -->
    <suite-files>
        <suite-file path="./suite1.xml" />
        <suite-file path="./suite2.xml" />
        <suite-file path="./suite3.xml" />
        <suite-file path="./suite4.xml" />
    </suite-files>
</suite>